---
import Container from "@/components/Container/Container.astro"
import FeedbackForm from "@/components/FeedbackForm/FeedbackForm.astro"
---

<section class="feedback" id="feedback">
  <Container>
    <h2 class="feedback__title">
      <span class="feedback__title-accent">Оставьте заявку</span><br>и&nbsp;мы&nbsp;вам перезвоним
    </h2>
    <FeedbackForm />
  </Container>
</section>