.hero {
  padding: 100px 0 0;
  height: calc(100vh - 236px);

  @include vp-1440 {
    height: calc(100vh - 140px);
  }

  &__main-title {
    @include visually-hidden;
  }

  &__wrapper {
    position: relative;
    top: 15%;
    display: flex;
    flex-direction: column;
    gap: 37px;

    @include vp-768 {
      top: 10%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 54px;
    line-height: 50px;

    &-accent {
      color: $color-fallow;
    }

    @media (max-width: 475px) {
      font-size: 42px;
      line-height: 42px;
    }

    @media (max-width: 379px) {
      font-size: 38px;
      line-height: 38px;
    }

    @media (max-width: 347px) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__text {
    margin: 0;
    font-size: 25px;
    line-height: 35px;

    @media (max-width: 497px) {
      font-size: 22px;
      line-height: 32px;
    }

    @media (max-width: 437px) {
      font-size: 18px;
      line-height: 28px;
    }

    @media (max-width: 370px) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    max-width: 253px;
    color: $color-nero;
    border: 1px solid $color-nero;
    background-color: $color-fallow;
    transition: color $transition-300, border-color $transition-300;

    @include hover-focus {
      outline: none;
      color: $color-white-smoke;
      border-color: $color-white-smoke;
    }
  }
}